
 <link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "About me";
}

<h1>@ViewData["Title"]</h1>


<br>
<h2 style="font-family: 'Times New Roman', Times, serif;"> Who am I?</h2>

<p style="font-family: 'Times New Roman', Times, serif; font-size: 23px"></p> I am a 15 year old kid from Israel, I live in eilat <br>
and I am a big supporter of linux and free and open source programs in general <br>
 I also like playing the piano mainly classical music, I have been <br>
 playing for 5 years </p>
<br>
<h2 style="font-family: 'Times New Roman', Times, serif;"> What is linux? </h2>
<p style="font-family: 'Times New Roman', Times, serif; font-size 23px;">Just like Windows, iOS, and Mac OS, Linux is an operating system. In fact, one of the most popular platforms on the planet, Android, is powered by the Linux operating system. An operating system is software that manages all of the hardware resources associated with your desktop or laptop. To put it simply, the operating system manages the communication between your software and your hardware. Without the operating system (OS), the software wouldn?t function.

The Linux operating system comprises several different pieces:
<br><br>
    1.Bootloader –  The software that manages the boot process of your computer. For most users, this will simply be a splash screen that pops up and eventually goes away to boot into the operating system. <br><br>
    2.Kernel – This is the one piece of the whole that is actually called ?Linux?. The kernel is the core of the system and manages the CPU, memory, and peripheral devices. The kernel is the lowest level of the OS. <br> <br>   
    3.Graphical server – This is the sub-system that displays the graphics on your monitor. It is commonly referred to as the X server or just X.  <br> <br>
    4.Applications – Desktop environments do not offer the full array of apps. Just like Windows and macOS, Linux offers thousands upon thousands of high-quality software titles that can be easily found and installed. Most modern Linux distributions (more on this below) include App Store-like tools that centralize and simplify application installation. For example, Ubuntu Linux has the Ubuntu Software Center (a rebrand of GNOME Software? Figure 1) which allows you to quickly search among the thousands of apps and install them from one centralized location. <br>

</p>