@model Linux.Models.LinuxModel
@{
    List<LinuxModel> distros = TempData["Distros"] as List<LinuxModel>;
}
<style>
  /* The grid: Four equal columns that floats next to each other */
  .column {
    float: left;
    width: 25%;
    padding: 10px;
  }
  #imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

  /* Style the images in the grid */
  .column img:hover {
    opacity: 1.1;
    cursor: pointer;
  }
  .closebtn {
  position: inherit;
  top: 0;
  right: 0;
  width: 100%;
  
  color: red;
  font-size: 35px;
  cursor: pointer;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}



  

</style>
<h1>Gallery</h1>

@if(distros != null && distros.Count >= 1)
{
    @foreach(var distro in distros)
    {
        <div >
            <div  class="column">
                <img src="~/images/@distro.ImageName"onclick="myFunction(this);" width="80%" alt="@distro.Name">
            </div>
        </div>
            }
}
        <div class="container">
  <!-- Close the image -->
  <span onclick="this.parentElement.style.display='none'" class="closebtn">&times;</span>

  <!-- Expanded image -->
  <img id="expandedImg" style="width:100%">

  <!-- Image text -->
  <div id="imgtext"></div>
</div>


<script>
function myFunction(imgs) {
  // Get the expanded image
  var expandImg = document.getElementById("expandedImg");
  // Get the image text
  var imgText = document.getElementById("imgtext");
  // Use the same src in the expanded image as the image being clicked on from the grid
  expandImg.src = imgs.src;
  // Use the value of the alt attribute of the image being clicked on
  imgText.innerHTML = imgs.alt;
  // Show the container element
  var expandedImg = document.getElementById("expandedImg");
  expandedImg.parentElement.style.display = "block";
}
</script>


