 <link rel="stylesheet" href="~/css/site.css" />
@{
    ViewData["Title"] = "The history of linux";
}

<h1>The history of linux</h1>
<div>
<p>
    <h2>Precursors</h2>
    The Unix operating system was conceived and implemented in 1969, <br>
    at AT&T's Bell Labs, in the United States by Ken Thompson, Dennis Ritchie, Douglas McIlroy, and Joe Ossanna. <br>
    First released in 1971, Unix was written entirely in assembly language, as was common practice at the time. <br>
    In 1973 in a key, pioneering approach, it was rewritten in the C programming language by Dennis Ritchie (with the exception of some hardware and I/O routines). <br>
    The availability of a high-level language implementation of Unix made its porting to different computer platforms easier. <br>
</p>
<br>

<p>
    <h3>The GNU project</h3>
    The GNU Project, started in 1983 by Richard Stallman, had the goal of creating a "complete Unix-compatible software system" composed entirely of free software. <br>
     Work began in 1984. Later, in 1985, Stallman started the Free Software Foundation and wrote the GNU General Public License (GNU GPL) in 1989. <br>
      By the early 1990s, many of the programs required in an operating system (such as libraries, compilers, text editors, a command-line shell, and a windowing system) were completed, although low-level elements such as device drivers, daemons, and the kernel, called GNU Hurd, were stalled and incomplete.
</p>
<br>
<p>
   <h2>Creation</h2> 
   In 1991, while attending the University of Helsinki, Torvalds became curious about operating systems. <br>
    Frustrated by the licensing of MINIX, which at the time limited it to educational use only, <br>
   he began to work on his own operating system kernel, which eventually became the Linux kernel. <br>
</p>
<img src="~/linus.jpeg" alt="Linus Torv" width="50%">

</div>