

<div class="text-center">
    <h1 class="display-4">Welcome, to the linux center</h1>
    <p style="font-style: italic; font-size: 17px ">The home for everything linux</p>
    <br><br><br><br>
   <q style="font-family: cursive; font-style: italic; font-size: 95px; float: center">
      Microsoft isn't evil, they just make really crappy operating systems. 
   </q>
   <br><br>
   <p style="font-family: cursive; font-style: italic; font-size: 95px;" > - Linus Torvalds</p>
   
</div>
